@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'); 
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.logo{
    font-size: 10rem;
    margin: 3rem;
    color: #695acd81;
}
.todo-container{
    margin-bottom: 2.2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    color: #444;
}
input{
    display: block;
    border: 0;
    padding: 2rem;
    font-size: 2rem;
    color: #444;
}
.todo{
    padding: 2rem 2rem;
    font-size: 1.5rem;
    border-top: 1px solid #eee;
    cursor: pointer;
    background-color: #9e90fe49;
}
.completed{
    color: #b8b6b6;
    text-decoration: line-through;
    background-color: rgba(194, 237, 194, 0.436);
}
input:focus{
    outline-color: #695acd85;
}
input::placeholder{
    opacity: 0.5;
}
small{
    color: #bfbfbf;
}
@media (max-width: 500px) {
    .logo{
        font-size: 7rem;
    }
    .todo-container{
        margin-inline: 0.5rem;
    }
    input{
        padding: 1rem;
        font-size: 1.5rem;
    }
    .todo{
        font-size: 1rem;
        padding: 1rem;
    }
    
}